.container {
  margin-top: 5rem;
  margin-bottom: 15rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    ) [center-end] 1fr [full-end];
  z-index: -1;
}

.container .home__gallery{
  grid-column: full-start / full-end;
  position: relative;
  /* height: 100%;
  width: 90%; */
  
  margin: 2rem 2rem;
  padding: 45px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 2vh;
  grid-auto-flow: row dense; 
}

 .container .home__gallery .img {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1.2rem 0;
} 

.container .home__gallery .img:hover {
  cursor: pointer;
}
.container .home__gallery .img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* .container .home__gallery .img:first-child {
  grid-column-start: span 2;
  grid-row-start: span 3;
}

.container .home__gallery .img:nth-child(2n+3){
  grid-row-start: span 3;
}

.container .home__gallery .img:nth-child(4n+5){
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.container .home__gallery .img:nth-child(6n+7){
  grid-row-start: span 1;
}

.container .home__gallery .img:nth-child(8n+9){
  grid-column-start: span 1;
  grid-row-start: span 1;
} */